{
	admin :2019
	servers {
		metrics
	}
}

synci.ch {
	handle /api* {
		reverse_proxy localhost:8080 {
            		header_up Host {host}
            		header_up X-Forwarded-Proto "https"
            		header_up X-Forwarded-For {remote}
        	}
	}
	handle /dashboard* {
		uri strip_prefix /dashboard
		reverse_proxy localhost:3000 {
            header_up Host {host}
            header_up X-Forwarded-Proto "https"
        }
	}
	handle {
		reverse_proxy localhost:5173
	}
}

dev.synci.ch {
	handle /api* {
		reverse_proxy localhost:8081
	}
	handle {
		reverse_proxy localhost:5174
	}
}
